{{!
	Table of Contents template for Guanches skin
}}
<div class="guanches-toc" id="toc">
	<div class="guanches-toc-header">
		<h2 class="guanches-toc-title">{{msg-toc}}</h2>
		<button class="guanches-toc-toggle" aria-label="{{msg-hidetoc}}">{{msg-toc}}</button>
	</div>
	<div class="guanches-toc-content">
		{{{html-toc}}}
	</div>
</div>